@model ForgotPasswordViewModel
@{
    Layout = "_Layout";
}

<section class="forgot-password">
    <h1 class="display-1">Напишите почту, которую вы указывали при регистрации,<br/> на нее вам придет сообщение от нас с инструкцией по восстановлению пароля.</h1>
    <form method="post" asp-controller="Password" class="forgot-password-form">
        <div class="container-input-forgot-password">
            <input type="text" asp-for="Email" placeholder="Email" class="input-forgot-password"/>
            <span asp-validation-for="Email" class="valid-forgot-password"></span>
        </div>
        <input type="submit" value="отправить" asp-action="ForgotPassword" class="btn-forgot-password"/>
        <a href="/Account/SignIn" class="come-back-signin">Вернуться назад</a>
    </form>
</section>