@model ResetPasswordViewModel
@{
    Layout = "_Layout";
}

<section class="new-password">
    <h1 class="display-1">Укажите в полях новый пароль.</h1>
    <p class="lead">Далее этот пароль будет использоваться при входе.</p>
    <form method="post" asp-controller="Password" class="form-new-password">
        <input type="hidden" asp-for="@Model.Token"/>
        <input type="hidden" asp-for="@Model.Email"/>
        <input type="password" placeholder="Пароль" asp-for="@Model.Password" class="input-new-password"/>
        <input type="password" placeholder="Повторите пароль" asp-for="@Model.ConfirmPassword" class="input-new-password"/>
        <input type="submit" value="Отправить" asp-action="ResetPassword" class="btn-new-password"/>
    </form>
</section>