@model VolgaIT.Models.ViewModels.AddAppViewModel
@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Новое приложение";
}

<section class="add-app-container">
    <h1 class="display-1">Добавление приложения</h1>
    <form method="post" asp-controller="UserActions" asp-action="AddUserApp" class="add-app-form">
        <div class="input-add-app-container">
            <input type="text" placeholder="Id приложения" asp-for="AppId" class="input-add-app">
            <span asp-validation-for="AppId" class="add-app-valid"></span>
        </div>
        <div class="input-add-app-container">
            <input type="text" placeholder="Название приложения" asp-for="AppName" class="input-add-app"/>
            <span asp-validation-for="AppName" class="add-app-valid"></span>
            <div asp-validation-summary="ModelOnly" class="add-app-valid"></div>
        </div>
        <input type="submit" value="Создать" class="input-btn-add-app"/>
        <span class="result-add-app">@ViewBag.Result</span>
    </form>
</section>