@model VolgaIT.Models.RegisterViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Регистрация";
}

<section class="register-container">
    <h1 class="display-1">Регистрация</h1>
    <form method="post" asp-controller="Account" asp-action="Register" class="register-form">
        <div class="input-register-container">
            <input type="text" placeholder="Email" asp-for="Email" class="input-register"/>
            <span asp-validation-for="Email" class="register-valid"></span>
        </div>
        <div class="input-register-container">
            <input type="password" placeholder="Пароль" asp-for="Password" class="input-register"/>
            <span asp-validation-for="Password" class="register-valid"></span>
        </div>
        <div class="input-register-container">
            <input type="password" placeholder="Повторите пароль" asp-for="PasswordConfirm" class="input-register"/>
            <span asp-validation-for="PasswordConfirm" class="register-valid"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="valid-register-model"></div>
        <input type="submit" value="Регистрация" class="input-btn-register"/>
    </form>
</section>