@model VolgaIT.Models.SignInViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Вход";
}

<section class="sign-in-container">
    <h1 class="display-1">Авторизация</h1>
    <form method="post" asp-controller="Account" asp-action="SignIn" class="sign-in-form">
        <div class="input-sign-in-container">
            <input type="text" placeholder="Email" class="input-sign-in" asp-for="Email"/>
            <span asp-validation-for="Email" class="sign-in-valid"></span>
        </div>
        <div class="input-sign-in-container">
            <input type="password" placeholder="Пароль" class="input-sign-in" asp-for="Password"/>
            <span asp-validation-for="Password" class="sign-in-valid"></span>
            <div asp-validation-summary="ModelOnly" class="sign-in-valid"></div>
        </div>
        <input type="submit" value="Вход" class="input-btn-sign-in"/>
        <a asp-controller="Password" asp-action="ForgotPassword" class="link-forgot-password">Забыли пароль?</a>
    </form>
</section>